<h1>Listing invoice_templates</h1>

<% @invoice_templates.each do |template| %>
  <%= link_to template.name, invoice_from_template_path(template) %>
<% end %>

<%= link_to 'New Invoice template', new_invoice_template_path %>
