<!DOCTYPE html>
<html>
<head>
	
  <%= render partial: 'invoice_bar/layouts/head' %>

</head>
<body style="padding:10px">
	
		<%= render partial: 'invoice_bar/layouts/navbar' %>

		<div id="content" class="container">
			
			<%= render partial: 'invoice_bar/layouts/messages' %>
			
			<%= yield %>
			
		</div>
</body>
</html>